body{
    background-color: #FFFCF2; 
    color: #000000;
    width: 100%;
    margin: 0  auto;
    font-family: poppinsregular;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #f0f2b7;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#search_books{
    display: flex;
    justify-content: center;
    width: 350px;
    top: 10px; 
    margin-left: 20px;
}

#input_search{
    width: 300px;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 5px;
}

#title{
    justify-content: start;
    font-family: poppinsbold;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(#f2f848, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bee{
    width: 75px;
    height: 75px;
}

#nav_topics{
    font-size: 22px;
}   

#nav_topics a{
    text-decoration: none;
    color: #000000;
    margin: 0 10px;
}

#nav_topics a:hover{
    color: #b1c310;
    transition: 0.3s all;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-around;
}

h2{
    font-size: 46px;
    line-height: 4 0px;
}

span{
    color: #EF476F;
}

#bee_ilustration{
    width: 400px;
}

p{
    font-size: 22px;
    max-width: 550px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#nome, #email{
    margin-top: 20px;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    border: none;
}

#submit{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
    width: 50%;
    background-color:#06D6A0;
    color: black;
    font-weight: bold;
}

#submit:hover{
    background-color: #aef300;
    transition: 0.3s all;
}