@media screen and (max-width: 760px) {

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
    }

    #title{
        justify-content: center;
        
    }

    #nav_bar{
        position: absolute;
        top: 10%;
        right: 0px;
        background-color: #f0f2b7;
    }

    #navbarNav{
        height: 100vh;
        transition: 0.5s all;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-self: center;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
    }

    #submit{
        align-self:center ;
    }

    p{
        text-align: center;
        padding: 0 20px;
      }
}