@media screen and (max-width: 760px) {
    
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header{
        flex-direction: column;
        margin: 0 auto;
    }

    #input_search{
        width: 12em;
    }

    #nav_topics, #title{
        margin: 0 auto;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-self: center;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
    }

    #submit{
        align-self:center ;
    }

    p{
        text-align: center;
        padding: 0 20px;
      }
}